footer {
    display: grid;
    background-color: var(--primary-color);
    color: white;
    grid-template-columns: [left]100px [context] 1fr [right]100px;
    justify-items: center;
    align-items: center;
    padding: var(--gap);
}