<div class="content-grid">
    <div class="align-center">
        <h1>Get the most out of your mobile with the right subscription</h1>
    </div>

    <p>
        Lorem ipsum odor amet, consectetuer adipiscing elit.
        Adipiscing id sed nostra consequat tincidunt justo.
        Feugiat rutrum malesuada sodales maximus lacus?
        Nibh penatibus purus sagittis mus maximus lorem scelerisque.
        Mus sem auctor augue id lacus metus. Hac gravida et conubia iaculis natoque quisque nec.
        In diam eu primis mi feugiat fusce.
    </p>

    <div class="plans">
        <div class="plan plan__pram">
            <mat-icon class="plan__icon">
                child_friendly
            </mat-icon>
            <div>
                <h2 class="plan__title">Pram Speed</h2>
                <p>Up to 100Mbit/s</p>
            </div>
            <p class="plan__price">$28 <span class="plan__subprice">/month</span></p>
            <button class="button"
                    mat-flat-button>Add subscription</button>
        </div>
        <div class="plan plan__bike">
            <mat-icon class="plan__icon">
                pedal_bike
            </mat-icon>
            <div>
                <h2 class="plan__title">Bike Speed</h2>
                <p>Up to 400Mbit/s</p>
            </div>
            <p class="plan__price">$60 <span class="plan__subprice">/month</span></p>
            <button class="button"
                    mat-flat-button>Add subscription</button>
        </div>
        <div class="plan plan__rocket">
            <mat-icon class="plan__icon">
                rocket_launch
            </mat-icon>
            <div>
                <h2 class="plan__title">Rocket Speed</h2>
                <p>Up to 1Gbit/s</p>
            </div>
            <p class="plan__price">$120 <span class="plan__subprice">/month</span></p>
            <button class="button"
                    mat-flat-button>Add subscription</button>
        </div>
    </div>
</div>