<section class="content-grid">
    <div class="full-width align-items-center justify-items-center">
        <div>
            <img src="../../../assets/images/css-logo.png"
                 alt="css-logo"
                 width="250px" />
        </div>
    </div>

    <p>
        This is a CSS tips and tricks application. Here I will put new CSS things I learn along the way in my career.
    </p>

    <p>
        Currently I have only a few in the menu above.
    </p>
</section>
<section class="content-grid">
    <div class="breakout bg-light flex align-items-center col-gap-sm">
        <mat-icon>grid_view</mat-icon>
        <h2>Grid</h2>
    </div>
    <p>
        The grid is an awesome layout CSS style which allows for response design. I used to use flex, and still do
        when required.
        But for laying out a page or section, grid works nicely. This section is a work in progress and will expand
        frequently.
    </p>
</section>

<section class="content-grid">
    <div class="breakout bg-light flex align-items-center col-gap-sm">
        <mat-icon>more_vert</mat-icon>
        <h2 class="breakout bg-light">Dotted Line</h2>
    </div>
    <p>
        This was a project to demonstrate the ability to use borders to draw lines.
        Along with a layout and CSS we connect items with dotted lines.
    </p>
</section>