<div class="content-grid">
    <h1 class="breakout">This will show the power of grid layouts</h1>
    <p class="breakout bg-light align-center">Look what happens here. This is a breakout.</p>
    <section class="full-width content-grid bg-dark">
        <h2 class="breakout bg-light align-center">This is a full width with breakout and content grid inside</h2>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
            into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
            release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
            software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
    </section>
</div>