<div class="content-grid">


    <h2 class="breakout bg-light">Main Layout</h2>
    <section>
        <p> This is the main layout for the page. It is a grid with 3 rows.<br>
            The first row is the header, middle is the content of each page, and the last row is the footer.
            We have labeled them in the CSS for use in the developer tools.
        </p>
        <div>
            <app-code-template [lines]="mainGridLines"></app-code-template>
        </div>
    </section>

    <h2 class="breakout bg-light">Content Grid</h2>
    <section>
        <p>Below is the CSS for the layout of a content grid. You can have multiple content grids on a page which
            provides a greater control of your layout.
        </p>
        <p>
            First notice that the display is set to grid and we have grid-template-columns.
        </p>

        <app-code-template [lines]="contentGridLines"></app-code-template>
    </section>

    <p class="breakout bg-light">This is a breakout.</p>
    <section class="full-width content-grid bg-dark">
        <h2 class="breakout bg-light">This is a full width with breakout and content grid inside</h2>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
            into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
            release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
            software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
    </section>
</div>