<div class="entry-list content-grid">
    <div class="entry">
        <div class="entry-left">
            <i class="fa fa-circle-check"></i>
            <div class="dotted-line">&nbsp;</div>
        </div>
        <div class="entry-right">
            <div class="title">
                Submitted
            </div>
            <div class="subtitle">
                22 Mar 2024
            </div>
            <div class="subtitle">
                by <span class="bolder">Capt. (AF) Scherbing, Corey</span> on behalf of <span class="bolder">AFERB
                    Program Managers.</span>
            </div>
            <div class="entry-content">
                Some comment
            </div>
        </div>
    </div>
    <div class="entry">
        <div class="entry-left">
            <i class="fa fa-circle-check"></i>
            <div class="dotted-line">&nbsp;</div>
        </div>
        <div class="entry-right">
            <div class="title">
                Concurred</div>
            <div class="subtitle">
                23 Mar 2024
            </div>
            <div class="subtitle">
                by <span class="bolder">Capt. (AF) Reda, Sadie</span> on behalf of <span class="bolder">AFIT-CI
                    Managers.</span>
            </div>
            <div class="entry-content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip ex ea commodo consequat.
                <a href="#"
                   (click)="show($event,true)">show more</a>
                <span style="display: none">Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.
                    <a href="#"
                       (click)="show($event, false)">show less</a>
                </span>
            </div>
        </div>

    </div>
    <div class="entry">
        <div class="entry-left">
            <i class="fa fa-circle-arrow-right"></i>
            <div class="dotted-line last">&nbsp;</div>
        </div>
        <div class="entry-right">
            <div class="title">
                Pending Action</div>
            <div class="subtitle">
                <div class="entry-subtitle-content">
                    from AETC AFERB Admin
                </div>
            </div>
        </div>
    </div>
</div>
<script>

</script>